*,
:after,
:before {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: Consolas, monaco, monospace;
  font-size: 16px;
  margin: 0 auto;
  max-width: 64rem;
  padding: 1rem;
  width: 100%;
  word-break: break-word;
}

p {
  line-height: 1.5rem;
  margin: 1.5rem 0;
}

a {
  background-color: transparent;
  color: #0a00c2;
}

nav a span {
  text-decoration: underline;
}

a:focus {
  box-shadow: #a80084 0 0 0 0.2rem;
  outline: currentcolor none medium;
}

b,
strong {
  font-weight: bolder;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  font-size: 2rem;
  margin: 0.67rem 0;
}

h2 {
  font-size: 1.75rem;
  margin: 0.67rem 0;
}

h3 {
  font-size: 1.45rem;
  margin: 0.67rem 0;
}

h4 {
  font-size: 1.2rem;
  margin: 0.67rem 0;
}

ul,
ol {
  padding-left: 2.25rem;
}

pre,
code {
  font-family: monospace;
  font-size: 1rem;
  tab-size: 2;
  overflow-x: auto;
  tab-width: 4;
}

pre,
p code {
  background: #000;
  border-radius: 0.2rem;
  box-decoration-break: clone;
  color: #fff;
  padding: 0.3rem 0.3rem 0.2rem;
}

header {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  margin: 1rem 0 2rem 0;
}

header .skip-to-content {
  font-size: 1.2rem;
  font-weight: 700;
  opacity: 0;
  position: absolute;
  top: 1.3rem;
  transform: translateY(-200%);
  z-index: 10;
}

header .skip-to-content:focus {
  background-color: #fff;
  opacity: 1;
  padding: 1rem;
  transform: translateY(0%);
}

header .title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  font-size: 1rem;
  padding-right: 1rem;
}

.row span {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

main {
  display: block;
  font-size: 1rem;
  text-align: left;
}

footer {
  border-top: 0.1rem solid #000;
  display: block;
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

main.projects section {
  margin-top: 2rem;
}

main.projects h1 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

main.projects h2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
