@keyframes rainbow {
  0% {
    background-color: red;
  }
  45%,
  5%,
  85% {
    background-color: #8000ff;
  }
  10%,
  35%,
  95% {
    background-color: #ff8000;
  }
  15%,
  40%,
  75% {
    background-color: #00f;
  }
  20%,
  55%,
  80% {
    background-color: #ffef00;
  }
  25%,
  65% {
    background-color: #00800f;
  }
  30% {
    background-color: #80ff31;
  }
  50%,
  70% {
    background-color: #0ff;
  }
  60% {
    background-color: #ff0080;
  }
  90% {
    background-color: #00f131;
  }
  100% {
    background-color: #00ff80;
  }
}

:focus {
  outline: #000000 dashed 0.2rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

header {
  position: absolute;
  right: 5vw;
  top: 3vh;
}

.work {
  margin-right: 1rem;
}

.todo,
.work {
  color: #000;
}

.work,
.todo,
.email,
.pgp-link {
  font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (2200 - 320)));
}

h1,
.landing {
  font-size: calc(25px + (50 - 25) * ((100vw - 320px) / (2200 - 320)));
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 95%;
  margin: 3.125rem 0;
}

.container .row {
  display: block;
  margin-bottom: 0.3rem;
}

.container .row span {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.container .row.pgp-link {
  display: inline-block;
}

.line-through {
  text-decoration: line-through;
}

.glasgow {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: green;
}

.pgp-link {
  position: relative;
  text-decoration: none;
  color: #000;
}

.pgp-link:hover:before {
  position: absolute;
  content: '';
  bottom: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-bottom: -2px;
  animation: rainbow 1.5s infinite;
}

.gitlab {
  background-color: #f96424;
  color: #fff;
}

.mastodon {
  background-color: #368bce;
  color: #fff;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 70%;
  }

  header {
    top: 3.125rem;
  }
}

@media only screen and (min-width: 1200px) {
  .landing {
    min-height: 100vh;
  }
}
