body {
  font-family: Consolas, monaco, monospace;
  font-size: 16px;
  background-color: white;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

ul {
  font-size: 1.1rem;
  padding-left: 1.1rem;
  padding-right: 2rem;
}

.done {
  text-decoration: line-through;
  color: #ddd;
}
